.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --ashGray: #B4B8AB;
  --prusBlue: #153243;
  --charcoal: #1F3F53;
  --indigoDye: #284b63;
  --cadetGrey: #8EA2A6;
  --ivory: #F4F9E9;
  --powderBlue: #c6dddc;
  --greenSheen: #74b3aee3;
  --tiffanyBlue: #3AC1B5; 
  
}


/* generic Styling */

.topMar {
  margin-top: 1em;
}

.leftMar {
  margin-left: 2em;
}
.topPad {
  padding-top: 1.4em;
}

.flRight {
  float: right;
}

.boxShad {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

/* image on homepage */
.homeImg {
  width: 50%;
  float: right;
  transform: scaleX(-1);
  filter: drop-shadow(-15px 3px 5px rgba(0,0,0, 0.7));
}

/* header styling(includes Nav) */
.accordionBody {
  background-color: var(--ashGray);
}

.accordion-button:not(.collapsed) {
  background-color: var(--cadetGrey);  
}

.collapsed {
  background-color: var(--ashGray);
}

.hText {
  color: var(--prusBlue);
  text-shadow: 1px 1px 3px var(--ivory);
}

/* footer Styling */
.footer {
  background-color: var(--ashGray);
  border-radius: 5px;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em 0;
  margin-top: 2em;

  font-size: .8em;
  font-weight: 600; 
}

.footText {
  margin-left: 1em;
  font-weight: 600;
}


/* for svg/buttons/links */
.svg {
  fill: var(--indigoDye);
}

.svg:hover {
  fill: var(--ivory);
}

.nav-link {
  color: var(--indigoDye);
}

.nav-tabs {
  border: 1px solid var(--charcoal);
  border-radius: 0.25em;
}

.navActive {
  background-color: var(--cadetGrey);
  box-shadow: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: var(--ivory);
}

.imgOpac {
  opacity: 0.6;
  filter: grayscale(75%);
  filter: blur(1px);
}

.imgOpac:hover {
  opacity: 1;
  filter: grayscale(0%);
}

.imgOpac:focus {
  opacity: 1;
}

/* primary button styling */
.btn-primary {
  background-color: var(--prusBlue);
  border-color: var(--charcoal);
  color: var(--ivory);
}

.btn-primary:hover {
  background-color: var(--charcoal);
}

.btn-primary:focus {
  background-color: var(--indigoDye) ;
}

/* info button styling */
.btn-info {
  background-color: var(--greenSheen);
  border-color: var(--greenSheen);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.btn-info:hover {
  background-color: var(--tiffanyBlue);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  transform: translateY(-00.15em);
  transform: scale(1.07);
}

.btn-light {
  background-color: var(--cadetGrey);
}

.btn-light:hover {
  background-color: var(--powderBlue);
}

.btn-popover{
  color: var(--prusBlue);
}
.btn-popover:hover{
  color: var(--ivory);
  transform: translateY(-00.15em);
  box-shadow: 0px 2px 4px var(--prusBlue);
  
}

.btnMar {
  margin: 0.25em 1em;
}

/* page Styling */
.page {
  background-color: var(--powderBlue);
}

/* resume styling */

.resume {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.btmBorder {
  border-bottom: 1px solid black;
}

.justTextLeft {
  text-align: left;
}